body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8aac97;
    font: 30px sans-serif;
}
.wrapper {
    height: 100vh;
    background-color: beige;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    align-content: center;
    gap: 10px;
}
.card {
    width: 70px;
    height: 70px;
    border: 1px dotted rgb(178, 177, 177);
    border-radius: 10px;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.card1{
	padding: 10px;
	margin: 10px;
	display: inline-block;
	background-color: #95a5a6;
}

#square{
	
	width: 300px;
	height: 300px;
	display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px #000800;
    border-radius: 10px;
    user-select: none;

}

.link {
  text-decoration: none;
  color: inherit;
  border: 1px solid #222;
  display: flex;
  padding: 6px 12px;
  border-radius: 10px;
}
.link:hover {
    background-color: #222;
    color: #fff;
}

.rainbow {
    height: 30px;
    width: 100%;
    border: 1px solid #222;
    text-align: center;
    
    
}
